---
import { ArrowRight } from '@lucide/astro';
import { isPageDisabled } from '../../lib/pages';

const joinusDisabled = isPageDisabled('join-us')

const benefits = [
  {
    title: 'Choix du statut',
    description: 'Salarié, indépendant ou en portage, c\'est toi qui choisis. Tu pourras même passer d\'un statut à l\'autre si besoin !',
  },
  {
    title: 'Contributions valorisées',
    description: 'Nous valorisons tes contributions qui auront un impact sur l\'entreprise. Tes actions (Cooptation, articles de blog, prise de parole, etc) contribueront aussi à ton évolution salariale.',
  },
  {
    title: 'Gouvernance partagée',
    description: 'Tu participeras à la gouvernance de l\'entreprise. Les choix de développement de l\'entreprise seront partagés, ton avis comptera réellement.',
  },
  {
    title: 'Impulser des initiatives',
    description: 'Tu pourras impulser des initiatives (projets, culture d\'entreprise, etc) au sein de la société. Tes idées seront soumises au collectif. Si elles plaisent au plus grand nombre, tu en deviendras le leader.',
  },
];
---

<section class="section section--surface">
  <div class="container">
    <div class="max-w-4xl mx-auto">
      <h2 class="section-title">
        Nos consultants au cœur de la stratégie <span class="text-gradient-glow">zatsit</span>
      </h2>
      <p class="section-description">
        Devenir consultant zatsit, c'est prendre part au développement de l'entreprise, et évoluer parmi un collectif.
      </p>

      <div class="grid md:grid-cols-2 gap-8">
        {benefits.map((benefit) => (
          <div>
            <h3 class="item-title">{benefit.title}</h3>
            <p class="item-description">{benefit.description}</p>
          </div>
        ))}

        <div class="md:col-span-2">
          <h3 class="item-title">Expertise collective</h3>
          <p class="item-description">
            Tu te nourriras de l'expertise de tes collègues tout comme ils s'appuieront sur ton expérience. Nos années d'expérience ont de quoi alimenter nos futurs échanges et partager nos bonnes pratiques.
          </p>
        </div>
      </div>

      <div class="mt-10">
        {!joinusDisabled && (
          <a href="/join-us" class="btn-primary">
            Découvre ton futur package
            <ArrowRight class="icon-md" size={20} />
          </a>
        )}
      </div>
    </div>
  </div>
</section>
